*crop.pdf

H1-Penrose-1.pdf

H1-Penrose-10.pdf

H1-Penrose-2.pdf

H1-Penrose-3.pdf

H1-Penrose-4.pdf

H1-Penrose-5.pdf

H1-Penrose-6.pdf

H1-Penrose-7.pdf

H1-Penrose-8.pdf

H1-Penrose-9.pdf

H1-Penrose.xoj.pdf

H1.xoj

physik321-12-Martin.aux

physik321-12-Martin.fdb_latexmk

physik321-12-Martin.log

physik321-12-Martin.out

physik321-12-Martin.pdf

q12.pdf

Zettel12.pdf

H2-Penrose-1.pdf
H2-Penrose-2.pdf
H2-Penrose-3.pdf
H2-Penrose-4.pdf
H2-Penrose-5.pdf
H2-Penrose.xoj.pdf
H2.xoj
physik321-12-Martin.bbl
physik321-12-Martin.blg
