physik321-11-Martin.aux

physik321-11-Martin.fdb_latexmk

physik321-11-Martin.log

physik321-11-Martin.out

H1.xoj
H2.nb
H2.xoj
Penrose-1.pdf
Penrose-2.pdf
Penrose-3.pdf
Penrose-4.pdf
physik321-11-Martin.bbl
physik321-11-Martin.blg
physik321-11-Martin.pdf
